<h1> New incident created in the incident impact tracker </h1>
<%= @user %> has created the new incident <%= link_to @description, incident_url(@incident) %> with impact <%= @impact %> at <%= Time.now.strftime("%c") %>.

